@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: message-font;
  src: url("./assets/Oooh_Baby/OoohBaby-Regular.ttf");
}

@font-face {
  font-family: button-font;
  src: url("./assets/Syncopate/Syncopate-Regular.ttf");
}

@font-face {
  font-family: text-font;
  src: url("./assets/Electrolize/Electrolize-Regular.ttf");
}
